<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830811369614-f9pa5spu1a3enq3ecmqouo68vricp3kh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830811369614-f9pa5spu1a3enq3ecmqouo68vricp3kh</string>
	<key>API_KEY</key>
	<string>AIzaSyAv0pHx8gt9hDe7FoiLfGAC-xb1XpPwdc8</string>
	<key>GCM_SENDER_ID</key>
	<string>830811369614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barisPercin.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-ced53</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-ced53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830811369614:ios:0cb2136c4327300af0d9df</string>
</dict>
</plist>